/* import Poppins Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* CSS Variables */

 :root {
    --nav-color: #182331;
    --main-color: #383838;
    --footer-color: #680000;
}


/* Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-color);
    color: #fff;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}


/* Utilities */

.container {
    width: 100%;
    margin: auto;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
}

.btn:hover {
    color: var(--main-color);
    transform: translate(5px, 5px);
}

.menu-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 25px;
    z-index: 0;
}


/* Navigation */

.main-nav {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px 0;
    justify-content: flex-start;
    background-color: var(--nav-color);
}

.main-nav .logo {
    height: 100px;
}

.main-nav .title {
    text-align: center;
    margin-right: 60px;
}

.main-nav ul {
    display: flex;
    flex: 3;
    margin-left: 10px;
    justify-content: flex-end;
}

.main-nav ul li {
    padding: 0 10px;
    margin: 0 10px;
}

.main-nav ul li a {
    font-size: 14px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #fff;
}


/* Showcase */

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    position: relative;
}

.showcase .video {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.showcase h2 {
    font-size: 48px;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 5%;
}

.showcase p {
    font-size: 32px;
    color: white;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 15%;
}

.showcase a {
    font-size: 32px;
    color: white;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 35%;
}


/* About Me */

.about-me h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.about-me .txt-img img {
    width: 50%;
    height: auto;
    margin: 20px
}

.about-me .txt-img p {
    padding: 0px 20px;
    margin: 20px 0px;
    font-size: 18px;
}

.about-me .txt-img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 20px;
}


/* Footer */

footer .disclaimer,
footer .social-icons {
    background-color: var(--footer-color);
    text-align: center;
    padding: 5px;
}

footer .social-icons a i {
    margin: 0px 10px;
}


/* Media Queries */

@media(max-width: 1340px) {
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: .5;
    }
    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 50%;
        height: 100%;
        transform: translateX(-1000px);
        opacity: .8;
        padding: 20px;
        z-index: 5;
    }
    .main-nav ul.main-menu.show {
        transform: translateX(-40px);
        transition: transform .5s ease-in-out;
    }
    .main-nav ul.main-menu li {
        padding: 20px;
        border-bottom: 1px solid white;
    }
    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }
    .main-nav ul li a {
        font-size: 16px;
    }
}

@media(max-width: 1000px) {
    .showcase h2 {
        font-size: 36px;
    }
    .showcase p,
    .showcase a {
        font-size: 24px;
    }
}

@media(max-width: 700px) {
    .showcase h2 {
        text-align: left;
        font-size: 22px;
        margin-right: 10px;
    }
    .showcase p,
    .showcase a {
        font-size: 18px;
    }
    .about-me .txt-img {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .about-me .txt-img img {
        width: 50%;
        height: auto;
        margin: 20px 0px;
    }
}

@media(max-width: 400px) {
    .showcase h2 {
        text-align: left;
        font-size: 16px;
        margin-right: 10px;
    }
    .showcase p,
    .showcase a {
        font-size: 12px;
    }
}

@media(max-width: 300px) {
    .main-nav .title {
        font-size: 16px;
    }
}