# Security
SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

# Database
DATABASE_URL=postgres://llkinvestresearch:llkinvestresearch@127.0.0.1:5432/llkinvestresearch
POSTGRES_DB=llkinvestresearch
POSTGRES_USER=llkinvestresearch
POSTGRES_PASSWORD=replace-db-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Contact Form Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=research@llkinvest.local
CONTACT_EMAIL=konrad@example.com
