SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_NAME=db.sqlite3
DEFAULT_FROM_EMAIL=research@llkinvest.local
CONTACT_EMAIL=konrad@example.com
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
